.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
  
.home-container p {
    font-size: 1.2rem;
    max-width: 600px;
    text-align: center;
    color: #444;
}